*{
    margin: 0px;
    padding:0px;
}
.mian{
    width:1365px;
}
a{
    color:black;
    text-decoration: none;
}
.cleanf:after{
    content: "";
  display: block;
  clear: both;
  height: 0;
  font-size:0;
}
.headernav{
       width:100%;
       border: 1px solid rgba(77, 73, 78, 0.411);
}
.headernavleft>ul{
    list-style: none;
    display: inline-block;
    width: 40%;
}
.headernavleft>ul>li{
    width:6%;
    display: block;
    float: right; 
    font-size: 16px;
    font-family: 宋体;
}
.headernavright>ul{
    list-style: none;
    display: inline-block;
    width:25%;
}
.headernavright>ul>li{
    display: block;
    float:left; 
    width:15%;
    font-size: 18px;
    font-family: 宋体;
}
.headernavleft>ul{
    float: right;
}
.headernavright>ul{
    float: right;
}

